{% trans_default_domain 'FOSUserBundle' %}

<style>
.errors >ul> li{
      color: red;

}
</style>

<div class="content_wrapper">
<div class="container-fluid">


{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
{% if is_granted('ROLE_ADMIN') %}
<link href="{{asset('src/profile/style-admin.css')}}" rel="stylesheet">
<div class="admin" >
<div> 
<div class="row">

        <div class="col-lg-4">
           <div class="profile-card-4 z-depth-3">
            <div class="card">
              <div class="card-body text-center bg-primary rounded-top">
               <div class="user-box">
                <img src="{{asset(app.user.imagePath)}}{{app.user.imageName }}">
              </div>
              <h5 class="mb-1 text-white">DR {{app.user.firstName }} {{app.user.lastName }}</h5>
              {% if is_granted('ROLE_SUPER_ADMIN') %}
                {% else %}
              <h6 class="text-light">{{app.user.specialisation.description }}</h6>
              {% endif %}
              
             </div>
              <div class="card-body">
                <ul class="list-group shadow-none">
                <li class="list-group-item">
                  <div class="list-icon">
                    <i class="fa fa-phone-square"></i>
                  </div>
                  <div class="list-details">
                    <span>{{app.user.phone }}</span>
                    <small>{{ 'profile_edit.mobile_number'|trans }}</small>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="list-icon">
                    <i class="fa fa-envelope"></i>
                  </div>
                  <div class="list-details" style="max-width: 240px;">
                    <span>{{app.user.email }}</span>
                    <small>{{ 'profile_edit.Email_Address'|trans }}</small>
                  </div>
                </li>
                </ul>

               </div>
               <div class="card-footer text-center">

                </div>
             </div>
           </div>
        </div>
        <div class="col-lg-8">
           <div class="card z-depth-3">
            <div class="card-body">
            <ul class="nav nav-pills nav-pills-primary nav-justified">
                <li class="nav-item">
                    <a href="javascript:void();" data-target="#profile" data-toggle="pill" class="nav-link active show"><i class="icon-user"></i> <span class="hidden-xs">{{ 'Change_pass.Change_password'|trans }}</span></a>
                </li>
            </ul>
            <div class="tab-content p-3">
                <div class="tab-pane active show" id="profile">
                    <div class="row">              
                        <div class="col-md-12">
                        <div class="form-row">
                            <div class="form-group col-md-6 errors">
                            <label for="inputEmail4">{{ 'Change_pass.Current_Password'|trans }}</label>
                        {{ form_widget(form.current_password, {'attr': {'class': 'form-control', 'autocomplete': 'off'}}) }}
                            {{ form_errors(form.current_password) }}

                            </div>
                            </div>
                              <div class="form-row">
                            <div class="form-group col-md-6 errors">
                            <label for="inputEmail4">{{ 'Change_pass.New_Password'|trans }}</label>
                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'autocomplete': 'off'}}) }}
                          {{ form_errors(form.plainPassword.first) }}

                            </div> 
                            </div> 
                        <div class="form-row">
                          <div class="form-group col-md-6 errors">
                            <label for="inputEmail4">{{ 'Change_pass.Repeat_the_new_password'|trans }}</label>
                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'autocomplete': 'off'}}) }}
                        {{ form_errors(form.plainPassword.second) }}

                            </div>                   
                            </div>                   
                        

                                <input class="btn btn-primary"  type="submit" value="{{ 'change_password.submit'|trans }}" />
                        {{ form_end(form) }}
                        <br>
                        <br>
                        <br>
                        </div> 
                        </div>
                    </div>
                    <!--/row-->
                </div>
            </div>
        </div>
      </div>
      </div>
    </div>
    <br><br>
    <br><br>

</div>
</div>


  {% else %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

<link href="{{asset('src/profile/style.css')}}" rel="stylesheet">

<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                <img src="{{asset(app.user.imagePath)}}{{app.user.imageName }}" alt="user avatar" >

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {{app.user.lastName|upper }} {{app.user.firstName|upper }}
                                    </h5>
                                    <h6>
                                        {{app.user.profession}}
                                    </h6>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{{ 'Change_pass.Change_password'|trans }}</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div><br>
                <div class="row">

                    <div class="col-md-12">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">



                              <div class="form-row">
                        <div class="form-group col-md-6 errors">
                            <label for="inputEmail4">{{ 'Change_pass.Current_Password'|trans }}</label>
                        {{ form_widget(form.current_password, {'attr': {'class': 'form-control', 'autocomplete': 'off'}}) }}
                            {{ form_errors(form.current_password) }}

                            </div>
                            </div>

                              <div class="form-row">
                            <div class="form-group col-md-6 errors">
                            <label for="inputEmail4">{{ 'Change_pass.New_Password'|trans }}</label>
                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'autocomplete': 'off'}}) }}
                            {{ form_errors(form.plainPassword.first) }}

                            </div> 
                            </div> 

                        <div class="form-row">
                          <div class="form-group col-md-6 errors">
                            <label for="inputEmail4">{{ 'Change_pass.Repeat_the_new_password'|trans }}</label>
                            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'autocomplete': 'off'}}) }}
                            {{ form_errors(form.plainPassword.second) }}

                            </div>                   
                            </div>                   
                        

                                <input class="btn btn-primary"  type="submit" value="{{ 'change_password.submit'|trans }}" />
                        {{ form_end(form) }}
                           
                        </div>
                    </div>
                </div>
                   </div>
                </div>
            </form>           
        </div>    
{{ form_end(form) }}
    
         {% endif %}

</div>
</div>

