<link href="{{asset('src/footer/style.css')}}" rel="stylesheet" type="text/css">

<footer id="moh" class="page-footer font-small indigo">
    <div class="container footer text-center ">

    </div>
    <!-- Footer Links -->
    <div class="col-12">

        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5 mb-3">

            <!-- Grid column -->
            <div class="col-3">
                <h6 class="text-uppercase font-weight-bold mohamed">
                    À propos de RDVDoc
                </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-3">
                <h6 class="text-uppercase font-weight-bold mohamed">
                    Trouvez votre spécialiste
                </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-3">
                <h6 class="text-uppercase font-weight-bold mohamed">
                    Recherches fréquentes
                </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-3">
                <h6 class="text-uppercase font-weight-bold mohamed">
                    Besoin d'aide ?
                </h6>
            </div>
            <!-- Grid column -->

        </div>

        <!-- Grid row-->
        <hr class="rgba-white-light " style="margin: 0 15%;background-color: wheat;">
        <div class="row text-center d-flex justify-content-center pt-5 mb-3" id="col">

            <!-- Grid column -->
            <div class="col-3  justify">
                <a href="{{ path('Professeure') }}"> Vous êtes professionnel de santé ?</a><br>
                <a href="#"> kbmtechnologie sur facebook</a><br>
                <a href="#"> À propos de nous</a><br>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-3">
                <a href="{{ path('Index',{'doctor':'Chirurgie générale','willaya':'','submit':'','page':'1'}) }}"> Chirurgie générale</a><br>
                <a href="{{ path('Index',{'doctor':'Médecine générale','willaya':'','submit':'','page':'1'}) }}"> Médecin généraliste</a><br>
                <a href="{{ path('Index',{'doctor':'Pédiatrie','willaya':'','submit':'','page':'1'}) }}"> Pédiatrie</a><br>
                <a href="{{ path('Index',{'doctor':'Gynécologie','willaya':'','submit':'','page':'1'}) }}"> Gynécologue médical et obstétrique</a><br>
                <a href="{{ path('Index',{'doctor':'Ophtalmologue','willaya':'','submit':'','page':'1'}) }}"> Ophtalmologue</a><br>
                <a href="{{ path('Index',{'doctor':'Dentiste','willaya':'','submit':'','page':'1'}) }}"> Chirurgie Dentiste</a><br>
                <a href="{{ path('Index',{'doctor':'Chirurgie urologique','willaya':'','submit':'','page':'1'}) }}"> Chirurgie urologique</a><br>
                <a href="{{ path('Index',{'doctor':'Dermatologie','willaya':'','submit':'','page':'1'}) }}"> Dermatologie</a><br>
                <a href="{{ path('Index',{'doctor':'Cardiologue','willaya':'','submit':'','page':'1'}) }}"> Cardiologue</a><br>
                <a href="{{ path('Index',{'doctor':'Nutritionniste','willaya':'','submit':'','page':'1'}) }}"> Nutritionniste</a>
            </div>

            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-3">
                <a href="{{ path('Index',{'doctor':'Dentiste','willaya':'Alger','submit':'','page':'1'}) }}"> Chirurgien-dentiste Alger</a><br>
                <a href="{{ path('Index',{'doctor':'Gynécologie','willaya':'Alger','submit':'','page':'1'}) }}"> Gynécologie Alger</a><br>
                <a href="{{ path('Index',{'doctor':'Médecine générale','willaya':'Alger','submit':'','page':'1'}) }}"> Médecin généraliste Alger</a><br>
                <a href="{{ path('Index',{'doctor':'Orthodontie','willaya':'Alger','submit':'','page':'1'}) }}"> Orthodontie Alger</a><br>
                <a href="{{ path('Index',{'doctor':'Diabétologie','willaya':'Alger','submit':'','page':'1'}) }}"> Diabétologie Alger</a><br>
                <a href="{{ path('Index',{'doctor':'Laboratoire','willaya':'Alger','submit':'','page':'1'}) }}"> Laboratoire Alger</a><br>
                <a href="{{ path('Index',{'doctor':'Stomatologie','willaya':'Alger','submit':'','page':'1'}) }}"> Stomatologie Alger</a><br>
                <a href="{{ path('Index',{'doctor':'Psychologie','willaya':'Alger','submit':'','page':'1'}) }}"> Psychologie Alger</a><br>
                <a href="{{ path('Index',{'doctor':'Endocrinologie','willaya':'Alger','submit':'','page':'1'}) }}"> Endocrinologie Alger</a><br>
                <a href="{{ path('Index',{'doctor':'Esthetique','willaya':'Alger','submit':'','page':'1'}) }}"> Esthetique Alger</a>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="{{ path('Need') }}">Besoin d'aide ?</a>
                </h6>
            </div>
            <!-- Grid column -->

        </div>

    </div>

    </div>
    <!-- Grid row-->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="font-size:20px;">© 2020 Copyright:
        <a href="{{path('Index')}}"> RDVDoc.COM </a> tous droits réservés.RDVDoc, v 1.01.
    </div>
    <!-- Copyright -->


</footer>
<!-- Footer -->